@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#showScroll::-webkit-scrollbar{
    scrollbar-width: 1px;
    scrollbar-color: grey;

}